@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #555555;
  --primary: #EF6E2E;
  --secondary: #46A8DB;
  --accent: #FFFBF7;
  --accent-dark: #F2E6D9;
  --muted: #B3B3B3;
  --text-dark: #555555;
  --radius: 1rem;
  --popover: #ffffff;
  --popover-foreground: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-muted: var(--muted);
  --color-text-dark: var(--text-dark);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --font-sans: var(--font-nunito);
}



body {
  background-color: var(--accent);
  background-image: radial-gradient(var(--accent-dark) 1px, transparent 1px);
  background-size: 20px 20px;
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

.bg-dot-pattern {
  background-image: radial-gradient(var(--accent-dark) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}